.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 50px;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.wqe {
}
